{{ $_hugo_config := `{ "version": 1 }` }}
{{ $menu_name := .Page.Params.Name }}
{{ $blockID := printf "td-cover-block-%d" .Ordinal }}
{{ $promo_image := (.Page.Resources.ByType "image").GetMatch "**background*" }}
{{ $logo_image := (.Page.Resources.ByType "image").GetMatch "**logo*" }}
{{ $col_id := .Get "color" | default "dark" }}
{{ $image_anchor := .Get "image_anchor" | default "smart" }}
{{ $logo_anchor := .Get "logo_anchor" | default "smart" }}
{{/* Height can be one of: auto, min, med, max, full. */}}
{{ $height := .Get "height" | default "max" }}
{{ $byline := .Get "byline" | default "" }}
{{ $title := .Page.Param ( printf "title_%s" .Page.Lang ) | default ( .Get "title" ) }}
{{ with $promo_image }}
{{ $promo_image_big := (.Fill (printf "1920x1080 %s" $image_anchor)) }}
{{ $promo_image_small := (.Fill (printf "960x540 %s" $image_anchor)) }}
<link rel="preload" as="image" href="{{ $promo_image_small.RelPermalink }}" media="(max-width: 1200px)">
<link rel="preload" as="image" href="{{ $promo_image_big.RelPermalink }}" media="(min-width: 1200px)">
<style>
    #{{ $blockID }} {
        background-image: url({{ $promo_image_small.RelPermalink }});
        height: 100%;
    }
    @media only screen and (min-width: 1200px) {
        #{{ $blockID }} {
        background-image: url({{ $promo_image_big.RelPermalink }});
        height: 100%;
    }
    }
</style>
{{ end }}
<section id="{{ $blockID }}" style="min-height: 100%" class="row td-cover-block td-cover-block--height-{{ $height }} js-td-cover td-overlay td-overlay--dark -bg-{{ $col_id }}">
    <div class="container td-overlay__inner">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h1 class="display-1 mt-0 mt-md-5 pb-4">{{ with $logo_image }}{{ $logo_image_resized := (.Fit (printf "70x70 %s" $logo_anchor)) }}<img class="td-cover-logo" src="{{ $logo_image_resized.RelPermalink }}" alt="{{ $title | html }} Logo">{{ end }}{{ $title | html }}</h1>
                    {{ with .Get "subtitle" }}<p class="display-2 text-uppercase mb-0">{{ . | html }}</p>{{ end }}
                    <div class="pt-3 lead">
                        <div class="mx-auto">
                            {{ range $key, $val := .Site.Menus }}
                                {{ if eq $menu_name $key }}
                                    {{ range $val }}
                                        <a class="btn btn-primary ml-1 mr-1 mb-2"
                                        href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}">
                                            {{ .Name }} 
                                        <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                                        </a>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </div>
                        {{ .Inner | markdownify}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ if $byline }}
    <div class="byline">
        <small>{{ $byline }}</small>
    </div>
    {{ end }}
</section>